<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Basic Page Needs
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta charset="utf-8">
  <title>@ViewBag.Title</title>
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Mobile Specific Metas
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <environment include="Development">
      <link rel="stylesheet" href="~/css/public-area.css" />
  </environment>
  <environment exclude="Development">
      <link rel="stylesheet" href="~/css/public-area.min.css" asp-append-version="true" />
  </environment>

  <!-- FONT
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link href="//fonts.googleapis.com/css?family=Raleway:400,300,600" rel="stylesheet" type="text/css">

  <!-- CSS
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="stylesheet" href="/css/skeleton/2.0.4/normalize.css">
  <link rel="stylesheet" href="/css/skeleton/2.0.4/skeleton.css">

  <!-- Favicon
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  <link rel="icon" type="image/png" href="/images/favicon.png">
  @RenderSection("head", required: false)
</head>
<body>

  <partial name="_TopNavbar" />

  <!-- Primary Page Layout
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->
  @RenderBody()


  <footer>
    <hr/>
    <small>&copy; Copyright @DateTime.Now.Year, Inventory</small>
    
    <span class="debug info" style="cursor:pointer;"
      title='Area [@ViewContext.RouteData.Values["area"]] Controller [@ViewContext.RouteData.Values["controller"]] Action [@ViewContext.RouteData.Values["action"]]'>
      &nbsp;
    </span>

      <!-- 
      Area [@ViewContext.RouteData.Values["area"]]
      Controller [@ViewContext.RouteData.Values["controller"]]
      Action [@ViewContext.RouteData.Values["action"]] 
      -->
  </footer>

<!-- End Document
  –––––––––––––––––––––––––––––––––––––––––––––––––– -->

  <environment include="Development">
      <script src="~/lib/jquery/dist/jquery.js"></script>
      <!-- <script src="~/js/site.js" asp-append-version="true"></script> -->
  </environment>
  <environment exclude="Development">
      <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
              asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
              asp-fallback-test="window.jQuery"
              crossorigin="anonymous"
              integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
      </script>
      <!-- <script src="~/js/site.min.js" asp-append-version="true"></script> -->
  </environment>
  @RenderSection("Scripts", required: false)
</body>
</html>
